$overlay: rgba(8, 6, 6, 0.5);
$black: #000;
$white: #fff;
$brand-color: rgba(54,40,158,.85);
$primary-gradient: #e5e5e5;
$secondary-gradient: #4937d3;
$title-color:#e9eaf7;
$bg: #F6F7FE; 
$shadow: #ebeef9;