$overlay: rgba(8, 6, 6, 0.5);
$black: #000;
$white: #fff;
$brand-color: rgba(54,40,158,.85);
$primary-gradient: #e5e5e5;
$secondary-gradient: #4937d3;
$title-color:#e9eaf7;
$bg: #F6F7FE; 
$shadow: #ebeef9;
$border: #f7f7f7;

//Colors

$DeepKoamaru: rgba(16, 38, 111, 0.85);
$Mariner: rgba(41, 128, 185, 0.85);
$Gumbo: rgba(136, 160, 168, 0.85);
$Blackberry: rgba(77, 1, 53, 0.85);
$RoseBudCherry: rgba(150, 0, 57, 0.85);
$Bouquet: rgba(140, 102, 127, 0.85);
$Chocolate: rgba(60, 0, 0, 0.85);
$DarkBurgundy: rgba(107, 0, 15, 0.85);
$AlizarinCrimson: rgba(165, 107, 104, 0.85);

$brand-colors: $DeepKoamaru, $Mariner, $Gumbo, $Blackberry, $RoseBudCherry, $Bouquet, $Chocolate, $DarkBurgundy, $AlizarinCrimson;