@import '../base/reset';
@import '../base/colors';
@import '../base/variables';
@import '../layout/extend';
@import '../layout/mixin';

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font;
    box-sizing: border-box;
    @include transition(all 0.7s ease);
}

// Header Section

header {
    padding: 30px 60px;
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 999;

    .grid-container {
        display: grid;
        grid-template-columns: 20% auto;
        align-content: center;
        justify-content: space-between;
    }

    .logo {
        text-align: left;
        svg {
            font-size: 40px;
            color: $brand-color;
        }
    }

    .menu {
        text-align: right;

        svg {
            font-size: 30px;
            color: $brand-color;
            z-index: 999;
            float: right;
        }

        svg#cancel {
            font-size: 40px;
        }

        .nav-items {
            position: fixed;
            width: 100%;
            height: 100%;
            background: #000;
            top: 0;
            left: 0;
            text-align: center;
            z-index: -1;
            display: none;
            
            ul {
                height: 100%;
                top: 30%;
                position: absolute;
                left: 48%;

                @include respond-to(smallDevices) {
                    left: 45%;
                }

                li {
                    list-style-type: none;
                    padding: 10px 0;

                    a {
                        color: $white;
                        font-size: 18px;
                        @include transition(all 0.7s ease);

                        &:hover {
                            color: $brand-color;
                            @include transition(all 0.7s ease);
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}

// Header Section

// Banner Section

.banner-section {
    text-align: center;
    padding: 200px 0;
    background: $bg;
    // background-image: url(../../assets/images/the-phope-537400-unsplash.jpg);
    @include clip-path(polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%));
    background-size: cover;

    @include respond-to(smallDevices) {
        padding: 150px 0 !important;
    }

    p {
        font-size: 40px;

        @include respond-to(smallDevices) {
            font-size: 25px !important;
        }
    }

    h1 {
        font-size: 100px;
        margin: 30px 0;
        padding-bottom: 15px;
        color: $brand-color;
        border-top: 3px solid $brand-color;
        border-bottom: 3px solid $brand-color;

        @include respond-to(smallDevices) {
            font-size: 50px !important;
        }
    }

    .typed {
        font-size: 30px;

        @include respond-to(smallDevices) {
            font-size: 25px !important;
        }
    }

    .typed-cursor {
        font-size: 40px;
        color: $brand-color;
    }

    .scroll {
        padding: 100px 0 0;

        a {
            @include transform(rotate(268deg));
            position: absolute;
            left: 45%;
            color: $brand-color;
            font-weight: bold;
            font-size: 16px;
            letter-spacing: 3px;
            @include transition(all 0.7s ease);

            @include respond-to(smallDevices) {
                left: 40% !important;
            }

            @include respond-to(handhelds) {
                left: 38% !important;
            }

            @include respond-to(d390) {
                left: 35% !important;
            }

            &:hover {
                text-decoration: none;
                @include transition(all 0.7s ease);
            }
        }
    }
}

// Banner Section

// About Section

#about {
    padding: 80px 0;

    @include respond-to(smallDevices) {
        padding: 50px 0 !important;
    }

    img {
        box-shadow: 0 0 15px 3px rgba(224, 224, 224, 0.85);
        border-radius: 3px;
        border-top-left-radius: 65px;
        border-bottom-right-radius: 65px;

        @include respond-to(handhelds) {
            margin-bottom: 20px !important;
        }
    }

    .title {
        @extend %title;
    }

    h3 {
        font-size: 35px; 

        @include respond-to(smallDevices) {
            font-size: 30px !important;
        }

        span {
            color: $brand-color;
        }
    }

    h4 {
        padding: 20px 0;
        font-size: 25px;

        @include respond-to(smallDevices) {
            font-size: 20px !important;
        }
    }

    p {
        font-size: 16px;
        padding: 10px 0;
        line-height: 22px;
    }

    .info {
        padding: 20px 0 25px;

        h5 {
            font-weight: bold;
            line-height: 30px;
    
            span {
                font-weight: normal;
            }
        }
    }

    button {
        @extend %button;

        a {
            color: $brand-color;
        }
    }

    .icons {
        @extend %icons;
    }
}

// About Section

//Skills Section

#skills {

    .title {
        @extend %title;
    }

    .progress {
        margin: 20px 0 30px;
        
        .progress-bar {
            background-color: $brand-color !important;
        }
    }

    div {
        font-weight: bold;
        color: $brand-color;
    }
}

//Skills Section

// Resume Section

#resume {
    padding: 50px 0;

    @include respond-to(smallDevices) {
        padding: 15px 0 0;
    }

    .title {
        @extend %title;
    }

    .education {
        border-left: 1px solid $brand-color;
        padding: 20px 0 0px 30px;

        &::before {
            @extend %design;
            width: 30px;
            height: 1px;
            left: -15px;
            top: 0;
        }

        &::after {
            @extend %design;
            width: 30px;
            height: 1px;
            left: -15px;
            bottom: 0;
        }

        span {
            @extend %resume-span;
        }

        svg {
            @extend %resume-svg;
        }
    }

    .edu {
        padding: 10px 48px 30px;

        &::before {
            @extend %design;
            width: 20px;
            height: 20px;
            left: -11px;
            border-radius: 10px;
            background-color: $white;
        }
    }

    .experience {
        padding: 20px 30px;

        span {
            @extend %resume-span;
        }

        svg {
            @extend %resume-svg;
        }

        .work {
            padding: 10px 48px 30px;

            &::before {
                @extend %design;
                width: 20px;
                height: 20px;
                left: 5px;
                top: 20px;
                border-radius: 10px;
                background-color: $white;
            }
        }
    }
}

//Resume Section

//Services Section

#services {

    .title {
        @extend %title;
    }

    .overlay {
        border-top-right-radius: 40px;
        position: absolute;
        width: 90%;
        height: 100%;
        background-color: rgba(54, 40, 158, 0.85);
        opacity: 0.3;
        z-index: -1;
        box-shadow: 3px 0px 15px 3px #8a8a8a;
        border-bottom-left-radius: 40px;
    }

    .service-section {
        padding: 50px 30px;

        svg {
            font-size: 40px;
        }

        span {
            position: absolute;
            right: 60px;
            font-size: 40px;
            color: $brand-color;
            opacity: 0.3;
            font-weight: bold;
        }

        h3 {
            padding: 30px 0 10px;
            font-size: 20px;
        }

        p {
            line-height: 20px;
            font-size: 15px;
        }
    }

    .row-1 {
        margin-bottom: 40px;
    }

    .margin-sm {
        @include respond-to(smallDevices) {
            margin-bottom: 30px !important;
        }
    }
}

//Services Section

// Contact Section

#contact {
    padding: 40px 0;

    .title {
        @extend %title;
    }

    label {
        font-size: 18px;
        color: $brand-color;
        margin-bottom: 20px;
    }

    input, textarea {
        border-color: $brand-color !important;
    }

    button {
        @extend %button;
        padding: 10px 45px !important;
        border-radius: 46px !important;
    }

    .icons {
        @extend %icons;
        margin-top: 20px;
    }

    h5 {
        line-height: 30px;
    }

    .map {
        margin: 35px 0 0;
    }

    .info {
        @include respond-to(smallDevices) {
            margin-top: 20px;
        }
    }
}

// Contact Section

// Footer Section

footer {
    padding: 40px 0;
    background: $brand-color;

    p {
        font-size: 14px;
        color: $white;
    }
}

// Footer Section

// Scroll To Top

    #return-to-top {
        position: fixed;
        // position: absolute;
        bottom: 20px;
        right: 20px;
        background: $brand-color;
        width: 50px;
        height: 50px;
        display: block;
        text-decoration: none;
        @include border-radius(35px);
        @include transition(all 0.3s linear);

        &:hover {
            background: rgba(0, 0, 0, 0.9);
        }

        &:hover svg {
            color: $white;
            top: 5px;
        }

        svg {
            color: $white;
            margin: 0;
            position: relative;
            left: 19px;
            top: 13px;
            font-size: 19px;
            @include transition(all 0.3s linear);
        }
    }

// Scroll To Top

// Colors

@for $i from 1 through 9 {

	.color-#{$i}-bar {
        
        // Header Section

        header {

            .logo {
                svg {
                    color: nth($brand-colors, $i);
                }
            }

            .menu {

                svg {
                    color: nth($brand-colors, $i);
                }

                .nav-items {
                    
                    ul {

                        li {

                            a {

                                &:hover {
                                    color: nth($brand-colors, $i);
                                }
                            }
                        }
                    }
                }
            }
        }

        // Header Section

        // Banner Section

        .banner-section {

            h1 {
                color: nth($brand-colors, $i);
                border-top: 3px solid nth($brand-colors, $i);
                border-bottom: 3px solid nth($brand-colors, $i);
            }

            .typed-cursor {
                font-size: 40px;
                color: nth($brand-colors, $i);
            }

            .scroll {

                a {
                    color: nth($brand-colors, $i);
                }
            }
        }

        // Banner Section

        // About Section

        #about {

            h3 {

                span {
                    color: nth($brand-colors, $i);
                }
            }

            button {
                @extend %button;

                a {
                    color: nth($brand-colors, $i);
                }
            }

            .icons {
                @extend %icons;
            }
        }

        // About Section

        //Skills Section

        #skills {

            .title {
                @extend %title;
            }

            .progress {
                
                .progress-bar {
                    background-color: nth($brand-colors, $i) !important;
                }
            }

            div {
                color: nth($brand-colors, $i);
            }
        }

        //Skills Section

        // Resume Section

        #resume {

            .title {
                @extend %title;
            }

            .education {

                border-left: 1px solid nth($brand-colors, $i);

                &::before {
                    @extend %design;
                }

                &::after {
                    @extend %design;
                }

                span {
                    @extend %resume-span;
                }

                svg {
                    @extend %resume-svg;
                }
            }

            .edu {

                &::before {
                    @extend %design;
                }
            }

            .experience {

                span {
                    @extend %resume-span;
                }

                svg {
                    @extend %resume-svg;
                }

                .work {

                    &::before {
                        @extend %design;
                    }
                }
            }
        }

        //Resume Section

        //Services Section

        #services {

            .title {
                @extend %title;
            }

            .overlay {
                background-color: nth($brand-colors, $i);
            }

            .service-section {

                span {
                    color: nth($brand-colors, $i);
                }

            }

        }

        //Services Section

        // Contact Section

        #contact {

            label {
                color: nth($brand-colors, $i);
            }

            input, textarea {
                border-color: nth($brand-colors, $i) !important;
            }

            button {
                @extend %button;
            }

            .icons {
                @extend %icons;
            }
        }

        // Contact Section

        // Footer Section

        footer {
            background: nth($brand-colors, $i);
            color: $white;
        }

        // Footer Section

        // Scroll To Top

        #return-to-top {
            background: nth($brand-colors, $i);
        }

        // Scroll To Top

    }

}

// Colors

// Color Panel

.icon{
	position: absolute;
	width: 65px;
	height: 55px;
	display: block;
	right: -65px;
	top: 0px;
	background: #111;
	cursor: pointer;
	z-index: 999;
	border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    
	svg {
		color: $white;
		font-size: 30px;
		text-align: center;
        margin-top: 13px;
        margin-left: -5px;
		cursor: pointer;
	}
}
.demo_pannel_box{
	position: fixed;
	width: 200px;
	height: 200px;
	display: block;
	top: 180px;
	left: -200px;
	text-align: center;
	background: #111;
    z-index: 9999;
    
	.color_pannel_box {

		span {
			width: 45px;
			height: 45px;
			margin: 10px;
			display: block;
			float: left;
			text-align: center;
			cursor: pointer;
        }
        
	    @for $i from 1 through 9{

	    	.color-#{$i}{
	    		background-color: nth($brand-colors, $i);
        	}
        
	    }
	}
}

// Color Panel

// Particle

.wrapper-background {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -3;

    .particles-section {
        position: relative;
        z-index: 1;
    }
}

// Particle