@import '../base/reset';
@import '../base/colors';
@import '../base/variables';
@import '../layout/extend';
@import '../layout/mixin';

body {
    font-family: $font;
    box-sizing: border-box;
    @include transition(all 0.7s ease);
}

// Header Section

header {
    padding: 30px 60px;
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 999;

    .grid-container {
        display: grid;
        grid-template-columns: 20% auto;
        align-content: center;
        justify-content: space-between;
    }

    .logo {
        text-align: left;
        svg {
            font-size: 40px;
            color: $brand-color;
        }
    }

    .menu {
        text-align: right;

        svg {
            font-size: 25px;
            color: $brand-color;
            z-index: 999;
            float: right;
        }

        svg#cancel {
            font-size: 40px;
        }

        .nav-items {
            position: fixed;
            width: 100%;
            height: 100%;
            background: #000;
            top: 0;
            left: 0;
            text-align: center;
            z-index: -1;
            display: none;
            
            ul {
                height: 100%;
                top: 30%;
                position: absolute;
                left: 48%;

                @include respond-to(smallDevices) {
                    left: 45%;
                }

                li {
                    list-style-type: none;
                    padding: 10px 0;

                    a {
                        color: $white;
                        font-size: 18px;
                        @include transition(all 0.7s ease);

                        &:hover {
                            color: $brand-color;
                            @include transition(all 0.7s ease);
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}

// Header Section

// Banner Section

.banner-section {
    text-align: center;
    padding: 200px 0;
    background: $bg;
    // background-image: url(../../assets/images/the-phope-537400-unsplash.jpg);
    @include clip-path(polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%));
    background-size: cover;

    @include respond-to(smallDevices) {
        padding: 150px 0 !important;
    }

    p {
        font-size: 40px;

        @include respond-to(smallDevices) {
            font-size: 25px !important;
        }
    }

    h1 {
        font-size: 100px;
        margin: 30px 0;
        padding-bottom: 15px;
        color: $brand-color;
        border-top: 3px solid $brand-color;
        border-bottom: 3px solid $brand-color;

        @include respond-to(smallDevices) {
            font-size: 50px !important;
        }
    }

    .typed {
        font-size: 30px;

        @include respond-to(smallDevices) {
            font-size: 25px !important;
        }
    }
}

// Banner Section

// About Section

#about {
    padding: 100px 0;

    @include respond-to(smallDevices) {
        padding: 50px 0 !important;
    }

    .title {
        @extend %title;
    }

    h3 {
        font-size: 35px; 

        @include respond-to(smallDevices) {
            font-size: 30px !important;
        }

        span {
            color: $brand-color;
        }
    }

    h4 {
        padding: 10px 0 0;
        font-size: 25px;

        @include respond-to(smallDevices) {
            font-size: 20px !important;
        }
    }

    p {
        font-size: 16px;
        padding: 10px 0;
        line-height: 22px;
    }

    .info {
        padding: 10px 0 25px;

        h5 {
            font-weight: bold;
            line-height: 22px;
    
            span {
                font-weight: normal;
            }
        }
    }

    button {
        border: 1px solid $brand-color !important;
        color: $brand-color !important;
        border-radius: 25px !important;

        &:hover {
            background-color: $brand-color !important;
            color: $white !important;

            svg {
                margin-left: 6px;
                @include transition(all 0.3s ease);
            }
        }

        svg {
            margin-left: 3px;
            padding-top: 5px;
            font-size: 20px;
            @include transition(all 0.3s ease);
        }
    }
}

// About Section



.wrapper-background {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -3;

    .particles-section {
        position: relative;
        z-index: 1;
    }
}