@import '../base/colors';
@import '../base/variables';
@import '../layout/extend';
@import '../layout/mixin';

// Colors

@for $i from 1 through 9 {

	.color-#{$i}-bar {
        
        // Header Section

        header {

            .logo {
                svg {
                    color: nth($brand-colors, $i);
                }
            }

            .menu {

                svg {
                    color: nth($brand-colors, $i);
                }

                .nav-items {
                    
                    ul {

                        li {

                            a {

                                &:hover {
                                    color: nth($brand-colors, $i);
                                }
                            }
                        }
                    }
                }
            }
        }

        // Header Section

        // Banner Section

        .banner-section {

            background-color: nth($section-bg, $i);

            h1 {
                color: nth($brand-colors, $i);
                border-top: 3px solid nth($brand-colors, $i);
                border-bottom: 3px solid nth($brand-colors, $i);
            }

            .typed-cursor {
                font-size: 40px;
                color: nth($brand-colors, $i);
            }

            .scroll {

                a {
                    color: nth($brand-colors, $i);
                }
            }
        }

        // Banner Section

        // About Section

        #about {

            h3 {

                span {
                    color: nth($brand-colors, $i);
                }
            }

            button {
                @extend %button;

                a {
                    color: nth($brand-colors, $i);
                }
            }

            .icons {
                @extend %icons;
            }
        }

        // About Section

        //Skills Section

        #skills {

            .title {
                @extend %title;
            }

            .progress {
                
                .progress-bar {
                    background-color: nth($brand-colors, $i) !important;
                }
            }

            div {
                color: nth($brand-colors, $i);
            }
        }

        //Skills Section

        // Resume Section

        #resume {

            .title {
                @extend %title;
            }

            .education {

                border-left: 1px solid nth($brand-colors, $i);

                &::before {
                    @extend %design;
                }

                &::after {
                    @extend %design;
                }

                span {
                    @extend %resume-span;
                }

                svg {
                    @extend %resume-svg;
                }
            }

            .edu {

                &::before {
                    @extend %design;
                }
            }

            .experience {

                span {
                    @extend %resume-span;
                }

                svg {
                    @extend %resume-svg;
                }

                .work {

                    &::before {
                        @extend %design;
                    }
                }
            }
        }

        //Resume Section

        //Services Section

        #services {

            .title {
                @extend %title;
            }

            .overlay {
                background-color: nth($brand-colors, $i);
            }

            .service-section {

                span {
                    color: nth($brand-colors, $i);
                }

            }

        }

        //Services Section

        // Contact Section

        #contact {

            label {
                color: nth($brand-colors, $i);
            }

            input, textarea {
                border-color: nth($brand-colors, $i) !important;
            }

            button {
                @extend %button;
            }

            .icons {
                @extend %icons;
            }
        }

        // Contact Section

        // Footer Section

        footer {
            background: nth($brand-colors, $i);
            color: $white;
        }

        // Footer Section

        // Scroll To Top

        #return-to-top {
            background: nth($brand-colors, $i);
        }

        // Scroll To Top

        // Color Panel

        .icon {

            svg {
                color: nth($brand-colors, $i);
            }
        }

        // Color Panel

    }

}

// Colors