/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  line-height: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

img {
  width: 100%; }

#about .title, #skills .title {
  text-align: center;
  padding: 20px 0; }
  #about .title .muted-title, #skills .title .muted-title {
    position: absolute;
    font-size: 100px;
    z-index: -1;
    color: #e9eaf7;
    top: -10px;
    left: 0;
    text-align: center;
    width: 100%;
    display: block;
    letter-spacing: -5px; }
    @media only screen and (max-width: 768px) {
      #about .title .muted-title, #skills .title .muted-title {
        font-size: 75px !important;
        top: 5px !important; } }
  #about .title h2, #skills .title h2 {
    font-size: 60px;
    text-transform: capitalize; }
    @media only screen and (max-width: 768px) {
      #about .title h2, #skills .title h2 {
        font-size: 53px !important; } }
    #about .title h2 span, #skills .title h2 span {
      color: rgba(54, 40, 158, 0.85); }

body {
  font-family: "Sarabun", sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease; }

header {
  padding: 30px 60px;
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 999; }
  header .grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 20% auto;
    grid-template-columns: 20% auto;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  header .logo {
    text-align: left; }
    header .logo svg {
      font-size: 40px;
      color: rgba(54, 40, 158, 0.85); }
  header .menu {
    text-align: right; }
    header .menu svg {
      font-size: 25px;
      color: rgba(54, 40, 158, 0.85);
      z-index: 999;
      float: right; }
    header .menu svg#cancel {
      font-size: 40px; }
    header .menu .nav-items {
      position: fixed;
      width: 100%;
      height: 100%;
      background: #000;
      top: 0;
      left: 0;
      text-align: center;
      z-index: -1;
      display: none; }
      header .menu .nav-items ul {
        height: 100%;
        top: 30%;
        position: absolute;
        left: 48%; }
        @media only screen and (max-width: 768px) {
          header .menu .nav-items ul {
            left: 45%; } }
        header .menu .nav-items ul li {
          list-style-type: none;
          padding: 10px 0; }
          header .menu .nav-items ul li a {
            color: #fff;
            font-size: 18px;
            -webkit-transition: all 0.7s ease;
            -ms-transition: all 0.7s ease;
            -o-transition: all 0.7s ease;
            transition: all 0.7s ease; }
            header .menu .nav-items ul li a:hover {
              color: rgba(54, 40, 158, 0.85);
              -webkit-transition: all 0.7s ease;
              -ms-transition: all 0.7s ease;
              -o-transition: all 0.7s ease;
              transition: all 0.7s ease;
              text-decoration: none; }

.banner-section {
  text-align: center;
  padding: 200px 0;
  background: #F6F7FE;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
  -ms-clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
  background-size: cover; }
  @media only screen and (max-width: 768px) {
    .banner-section {
      padding: 150px 0 !important; } }
  .banner-section p {
    font-size: 40px; }
    @media only screen and (max-width: 768px) {
      .banner-section p {
        font-size: 25px !important; } }
  .banner-section h1 {
    font-size: 100px;
    margin: 30px 0;
    padding-bottom: 15px;
    color: rgba(54, 40, 158, 0.85);
    border-top: 3px solid rgba(54, 40, 158, 0.85);
    border-bottom: 3px solid rgba(54, 40, 158, 0.85); }
    @media only screen and (max-width: 768px) {
      .banner-section h1 {
        font-size: 50px !important; } }
  .banner-section .typed {
    font-size: 30px; }
    @media only screen and (max-width: 768px) {
      .banner-section .typed {
        font-size: 25px !important; } }

#about {
  padding: 100px 0; }
  @media only screen and (max-width: 768px) {
    #about {
      padding: 50px 0 !important; } }
  #about h3 {
    font-size: 35px; }
    @media only screen and (max-width: 768px) {
      #about h3 {
        font-size: 30px !important; } }
    #about h3 span {
      color: rgba(54, 40, 158, 0.85); }
  #about h4 {
    padding: 10px 0 0;
    font-size: 25px; }
    @media only screen and (max-width: 768px) {
      #about h4 {
        font-size: 20px !important; } }
  #about p {
    font-size: 16px;
    padding: 10px 0;
    line-height: 22px; }
  #about .info {
    padding: 10px 0 25px; }
    #about .info h5 {
      font-weight: bold;
      line-height: 22px; }
      #about .info h5 span {
        font-weight: normal; }
  #about button {
    border: 1px solid rgba(54, 40, 158, 0.85) !important;
    color: rgba(54, 40, 158, 0.85) !important;
    border-radius: 25px !important; }
    #about button:hover {
      background-color: rgba(54, 40, 158, 0.85) !important;
      color: #fff !important; }
      #about button:hover svg {
        margin-left: 6px;
        -webkit-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
    #about button svg {
      margin-left: 3px;
      padding-top: 5px;
      font-size: 20px;
      -webkit-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }

.wrapper-background {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -3; }
  .wrapper-background .particles-section {
    position: relative;
    z-index: 1; }
